---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro'; // <--- Importar aquí
import Hero from '../components/Home/Hero.astro';
import Stats from '../components/Home/Stats.astro';
import Fase1 from '../components/Home/Fase1.astro';
import Ecosistema from '../components/Home/Ecosistema.astro';
import AfiliadoEstrella from '../components/Home/AfiliadoEstrella.astro';
import ComoEmpezar from '../components/Home/ComoEmpezar.astro';
import CtaGratis from '../components/Home/CtaGratis.astro';
import FAQ from '../components/Home/FAQ.astro';
import RegistroForm from '../components/Home/RegistroForm.astro';
---

<Layout title="BeTogether - Inscríbete">
	<main class="pt-16 lg:pt-20 min-h-screen">
		<Hero />
		<Stats />
		<Fase1 />
		<Ecosistema /> 
       <AfiliadoEstrella /> 
       <ComoEmpezar /> 
       <CtaGratis /> 
       <FAQ />
       <RegistroForm /> 
		</main>
</Layout>